@media (max-width: 768px) {
  .testimonial-slider .slick-slide {
    width: 100% !important;
  }
  
  .testimonial-slider .slick-track {
    display: flex !important;
  }
  
  .testimonial-slider .slick-slide > div {
    width: 100% !important;
  }
}

.swiper-pagination {
  position: static !important;
  margin-top: 2rem !important;
}

.swiper-pagination-bullet {
  background: #6b7280 !important;
  opacity: 0.5 !important;
}

.swiper-pagination-bullet-active {
  background: #0096d6 !important;
  opacity: 1 !important;
}